# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# System and IDE temporary files
.vscode/
.idea/
.DS_Store
*.log
.env
